button {
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
}

.button_style{
    width: 304px;
    height: 51px;
    justify-content: center;
    align-items: center;
    background: var(--Bleu);
    color: var(--Blanc);
    margin-bottom: var(--space5x);   
    margin-bottom: 50px;
}