.carrousel {
    position: relative;
  }
  
  .carrousel_btn {
    position: absolute;
    top: 50%;
    top: calc(
      min(275px, 200vw) / 16 * 9 / 2 + 1rem
    ); /* centre verticalement ~50% vertical */
    transform: translateY(-50%); /* methode du point mort */
    width: 2rem;
    height: 2rem;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    color: #fff;
    margin-left: 80px;
    margin-right: 80px;
    
    
  }
  
  .carrousel_btn-avant {
    left: 10px; 
    
  }
  
  .carrousel_btn-apres {
    right: 10px;
  }

.carrousel_parent-ecrans {
  /* aligne horizontalement les enfants */
    display: flex;
  /* largeur du parent */
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; 
    
}
.carrousel_ecran {
  /* largeur du parent pour chaque enfant */
    width: 100%;
  /* permet de garder toute la largeur du parent */
    flex: none;
    scroll-snap-align: start;
    text-align: center;
}
.carrousel_ecran figure {
  /* enlève les marges par défaut */
  margin: 0;
} 


.caroussel_liste-liens {
    /* aligne horizontalement les enfants */
    display: flex;
    /* centre horizontalement les enfants */
    justify-content: center;
    /* enlève les marges par défaut */
    margin: 0;
    /* enlève les padding par défaut */
    padding: 0;
    /* enlève les puces par défaut */
    list-style: none;
    /* espace entre les enfants */
    gap: 1rem;
  }

.carroussel_fond{
    position: relative;
    top: -275px;
  }

  
.backgroundB{
    background-color: var(--Noir);
    padding-right: 20px;
    z-index: -2;
    margin-top: 35rem;
    position: relative;
    width: 390.975px;
    height: 130rem;
    padding-right: 20px;
    padding-top: -300rem;
    margin-bottom: -100rem;
    
}