


.text_intro{
    position: relative;
    top : -60px;
}

.img_titre{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    margin-bottom: -150px;
}

.texte_titre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    top :300px
}


.superposeelement{
    position: relative;
    z-index: 11;
      
}

.menu{
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    place-content: center;
    z-index: 10;
    background-color: var(--Blanc);
  }

.soustitre{
    position: relative;
    margin-left: 70px;
    margin-right: 60px;
    z-index: 2;
}

.lienprépa1{
    position: relative;
    margin-left: 70px;
    margin-right: 40px;
}

.lienprépa1txt1{
    margin-top: -23px;
    padding-left: 50px;
}

.lienprépa2{
    position: relative;
    margin-left: 70px;
    margin-right: 60px;
}

.lienprépa1txt2{
    margin-top: -23px;
    padding-left: 70px;
}

.taillefleche{
    height: 15px;
}

.taillefleche2{
    height: 15px;
    color: var(--Blanc);
    z-index: 10;
}

.taillefleche2{
    height: 15px;
    padding-left: 20px;
}

.button_center{
    position: relative;
    justify-content: center;
    margin-left: 65px;
}
  


.logoposition{
    position: absolute;
    margin-left: 35px;
    margin-top: 6px;
    z-index: 2;
}

.imggoerge{
    position: absolute;
    top:935px;
}

.imggoerge2{
    position: absolute;
    top:1435px;
}

.ouvertureposition{
    padding-top: 140px;
}
.texte_titre1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, 20%);
    z-index: 2;
    top :1400px
}

.texte_titre2{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-90%, 20%);
    z-index: 2;
    top :1680px
}

.texte_titre3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, 20%);
    z-index: 2;
    top :1520px;
    margin-right: 40px;
    color: var(--Blanc);
}

.texte_titre4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-85%, 20%);
    z-index: 2;
    top :1750px;
    color: var(--Blanc);
}

.texte_titre5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-85%, 20%);
    z-index: 2;
    top :2000px;
    color: var(--Blanc);
}

.texte_titre6{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-85%, 20%);
    z-index: 2;
    top :-240px;
    right: 20px;
    padding-left: 20px;
    
}
.background{
    background-color: var(--Blanc);
        
}


.vecteur_fond{
    position: absolute;
    top:2100px;
    width: 356.975px;   
    height: 1837.791px;
    flex-shrink: 0;

    
}

.taille_img{
    width: 228px;
    height: 144px;
}


.carroussel_posistion1{
top: 20px;
left: 20px;
}